@import url(http://fonts.googleapis.com/css?family=Raleway);
form#empForm, form#editForm {
padding: 0 35px 15px;
}
label.gender {
padding-top: 0 !important;
}
table tr th{
    background: #f8f8f8;
}
.search-box {
    padding-bottom: 0;
}
body{
    width: 100%;
    height: 100%;
    padding: 0;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    color: #fff;
    background:#1a1a1a url(images/background-foto.jpg) center center no-repeat fixed;
    background-size: cover;
}
.header-image{
    max-width: 100%;
    position: relative;
}
.header-image img{
    width: auto;
    max-width: 100%;
    height: 40%;
    margin-top: 5%;
}
.left-image{
    top:0;
    left: 0;
    margin:0;
    position: absolute;
}
.right-image{
    bottom:0;
    right: 0;
    margin:0;
    position: fixed;
}
fieldset{
    margin: 5px;
}
.img-container{
    margin: auto;
    text-align: center;
}