<html ng-app="crudApp">
<head>
<title>Daftar dan Twit</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Include Bootstrap CSS -->
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
<!-- Include main CSS -->
<link rel="stylesheet" type="text/css" href="css/style.css">
<link rel="stylesheet" type="text/css" href="css/template.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- Include jQuery library -->
<script src="js/jQuery/jquery.min.js"></script>
<!-- Include AngularJS library -->
<script src="lib/angular/angular.min.js"></script>
<!-- Include Bootstrap Javascript -->
<script src="js/bootstrap.min.js"></script>

<script type="text/javascript" src="js/webcam.min.js"></script>

<script src="js/angular-script.js"></script>
<script src="css/mui/extra/mui-combined.js"></script>
</head>
<body>
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="wrapper" ng-controller="DbController">

      <form id="contact" class="form-horizontal" name="empList" id="empForm" ng-submit="insertInfo(empInfo);">
        <div class="row">
          <div class="col-md-8">
            <h3>Saya mengunjungi stan <a href="https://twitter.com/hashtag/BlankOn" target="_blank">#BlankOn</a> di<a href="https://twitter.com/hashtag/BekrafHabibieFestival?src=hash" target="_blank">#BekrafHabibieFestival</a></h3>
          </div>
          <div class="col-md-4">
            <div class="row">
              <div class="col-md-6">
                <img src="images/logo.png"  width="100%" style="padding-top:30">
              </div>
              <div class="col-md-6">
                <img src="images/logo1.png" width="100%" style="margin-bottom:10">
              </div>
            </div>


          </div>
        </div>


        <fieldset>
          <input type="text" name="emp_name" class="form-control" placeholder="Nama" ng-model="empInfo.name" value="" autofocus required />
        </fieldset>
        <fieldset>
        <input type="text" name="emp_country" class="form-control" placeholder="Asal / dari" ng-model="empInfo.country" autofocus required />
        </fieldset>
        <fieldset>
        <input type="email" name="emp_email" class="form-control" placeholder="Email" ng-model="empInfo.email" autofocus required />
        </fieldset>
        <fieldset>
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-at"></i></span>
          <input type="text" name="emp_twitterid" class="form-control" placeholder="Akun Twitter" ng-model="empInfo.twitterid" autofocus required />
        </div>

        </fieldset>
        <fieldset>
          <textarea type="text" name="emp_comment" class="form-control" placeholder="Komentarmu" ng-model="empInfo.comment" autofocus required></textarea>
        </fieldset>
        <fieldset>
            <div class="img-container">
              <img src="images/user.png" id="results" type="button" class="btn img-thumbnail" data-toggle="modal" data-target="#myModal" ng-click="opencamera()" width="150" height="150">
            </div>
        </fieldset>
        <input id="mydata" type="hidden" name="mydata" ng-model="empInfo.photo"/>
        <div class="alert alert-info" id="tesalert" hidden>
          <strong>Terima Kasih!</strong>
        </div>
        <fieldset>
          <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Kirim</button>
        </fieldset>
      </form>



    <!-- Modal -->
        <div id="myModal" class="modal fade" role="dialog">
          <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Kamera</h4>
              </div>
              <div class="modal-body">
                <div id="my_camera"></div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Tutup</button>
                <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="take_snapshot1()">Shoot</button>
              </div>
            </div>

          </div>
        </div>


    <!-- Table to show employee detalis -->
      </div>
    </div>
    <div class="col-md-2">

    </div>
  </div>


<!-- Include controller -->
<script language="JavaScript">
  Webcam.set({
    width: 560,
    height: 420,
    dest_width: 320,
    dest_height: 240,
    image_format: 'jpeg',
    jpeg_quality: 90
  });

  //Webcam.attach( '#my_camera' );
</script>


</body>
</html>
